body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
	height: 100vh;
 }

 .logo {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 150px; /* Ajusta el ancho según tu logo */
  height: auto; /* Para mantener la proporción */
  }
.logo-fixed {
position: fixed;
top: 10px; /* Ajusta la posición fija según tus necesidades */
right: 10px; /* Ajusta la posición fija según tus necesidades */
transition: top 0.3s ease; /* Agrega una transición suave para el efecto */
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: block;
  margin-top: 100px; /* Ajusta el espacio desde la parte superior */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="text"],
select,
input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
/* Estilos para el contenedor de la tabla */
.table-container {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 40px; /* Ajusta el espacio desde la parte superior */
  padding: 20px; /* Agregar espacio interno al contenedor */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de rendimientos */
#rendimientos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#rendimientos-table th,
#rendimientos-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#rendimientos-table th {
  background-color: #f2f2f2;
}

#rendimientos-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/*Return Buttom*/
.return-container {
  position: absolute;
  top: 20px;
  left: 30px;
}

.return-button {
  display:block;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 60, 116); /* Color de fondo semi-transparente */
  padding: 20px;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Eliminar subrayado */
  color: rgb(255, 255, 255); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*Return Buttom*/
.return-container {
  position: absolute;
  top: 10px;
  left: 30px;
}

.return-button {
  display:block;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255); /* Color de fondo semi-transparente */
  padding: 20px;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Eliminar subrayado */
  color: rgb(51, 56, 210); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.return-button i {
  font-size: 30px; /* Reducir tamaño del icono */
  margin-bottom: 10px;
}

.return-button:hover {
  background-color: rgba(107, 136, 131, 0.7); /* Color de fondo semi-transparente al hacer hover */
  transform: scale(1.05); /* Aumentar tamaño al hacer hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.return-button:hover span {
  backdrop-filter: none;
  filter: none;
}


a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto para mantener el estilo original */
}
 #exportar-btn {
  margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #538dc6;
    color: #fff;
    border: 1px solid #938c97;
    border-radius: 8px;
    cursor: pointer;
  }

  #exportar-btn:hover {
    background-color: #66ae8c;
  }

  /*estilos switch boton*/
  .switch-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4d7ca3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #58adf3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#mode-text {
    margin-left: 10px;
}

/*Manual submit*/
#manual-submit {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#manual-submit:hover {
  background-color: #0056b3;
}

